<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
<%- include('./partials/styles') %>
</head>
<body>
<%- include('./partials/header') %>
    
    <article class="banner">
        <img src="/img/img-home-banner.jpg" alt="banner">
    </article>

    <main>
        <h3>Basado en tu última visita</h3>
        <section>
            <% articulos.forEach(articulo => { %>
                <article>
                    <a href="#">
                        <div>
                            <img src= "/img/products/<%= articulo.imagen %>" alt="cafetera">
                        </div>
                        <div class="descripcion">
                            <i class="fas fa-truck"></i>
                            <p class="precio"><%= articulo.precio %> </p>
                            <p class="descuento"><%= articulo.descuento %> </p>
                            <p class="nombre"><%= articulo.nombre %> </p>
                        </div>
                    </a>                   
                </article>
            <% }) %>           
        </section> 

        <h3>Sección de Ofertas</h3>
        <section>
            <% articulos.forEach(articulo => { %>
                <article>
                    <a href="#">
                        <div>
                            <img src= "/img/products/<%= articulo.imagen %>" alt="cafetera">
                        </div>
                        <div class="descripcion">
                            <i class="fas fa-truck"></i>
                            <p class="precio"><%= articulo.precio %> </p>
                            <p class="descuento"><%= articulo.descuento %> </p>
                            <p class="nombre"><%= articulo.nombre %> </p>
                        </div>
                    </a>                   
                </article>
            <% }) %>       
        </section>
    </main>
<%- include('./partials/footer') %>
  
    <!-- fontawesome iconos -->
    <script src="https://kit.fontawesome.com/6cd48854d2.js" crossorigin="anonymous"></script>
</body>
</html>